body {
    background: #ffffff;
    color: #f5f3f3;
    margin-top: 4rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fffefe;
  }
  
  ul {
    margin: 1.5;
  }
  
  .bg-steel {
    background-color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link {
    color: hsl(0, 0%, 100%);
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 200;
  }
  
  .content-section {
    background: #ffffff;
    padding: 4px 8px;
    border: 2px #ffffff;
    border-radius: 1px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #fcfcfc;
  }
  
  a.article-title:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 20px;
    width: 30px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #ffffff
  }
  
  .article-metadata a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .article-svg {
    width: 10px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 100px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 4rem;
  }