{% load static %}
<title>CoLearn</title>

<link rel = "stylesheet" type = "text/css" href = {% static 'colearning/main.css' %}>
<meta name="viewport" content="width=device-width, initial-scale=1">


<section class = "landing-section landing-main">
    <h1 class = "brand">CoLearn</h1>
    <h2>
        <span class = "brand-text">Co</span>laborative
        <span class = "brand-text">Learn</span>ing
    </h2>
    <p class = "landing-main-text">
        It is about time to enjoy studying!
        <br>
        As part of a supportive community, you will feel again inspired and accountable to reach your goals.
        <br>
        Together we go further!
    </p>
    <a class = "nav-item nav-link" href = "/register">Register Now!</a>
    <br>
    Already have an account? <a class = "nav-item nav-link" href = "/login">Login</a>
</section>
<section class = "landing-section landing-features">
  
</section>