{% extends "colearning/base.html" %}

{% block title%} Create an account {%endblock%}
{% load crispy_forms_tags %}

{% block content%}
    <div class = "content-section">
        <form method = "POST" class = "form-group">
            {% csrf_token %}
            <legend class = "border-bottom mb-4">New Post</legend>
            {{form | crispy}}
            <button type = "submit" class = "btn btn-success">Send</button>
        </form>
        <div class = "border-top pt-3">
            <small class = "text-muted">
            </small>
        </div>
    </div>
{%endblock%}