{% extends "blog/base.html" %}
{% load hitcount_tags %}
{% block content %}
<title>Blog</title>
    <div class = "col-md-16">
        <div class = "sidebar px-8">
        <form class = "input-group" action = "{% url 'search_blog' %}" method = "GET" role = "form">
            <input type = "text" name = "search" id = "" class = "form-control" placeholder = "Search Posts">
            
        </form>
        </div>
    </div>
    <br>
    <br>
    <hr>
    {% for post in posts %}
        <article class="media content-section">
            <img  class = "rounded-circle article-img" src = "{{ post.author.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small> 
                View: {% get_hit_count for post %} <i class = "fa fa-eye" aria-hidden = "True"></i>
                | Likes : {{ post.total_likes }} | Comments: {{ post_comments_count }}
            </div>
            <h2>{{ post.title }}</h2>
            <p class="article-content">{{ post.content|safe|slice:":190"}}</p>
            <h5><a class="mr-2" href="{% url 'post-detail' post.id %}">More</a></h5>
            <div>
                Room: <h5>{{ post.course }}</h5>
            </div>
            {% for course in courses %}
            <a href="{% url 'courses:detail' pk=courses.pk %}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{course.course_name}}</h5>
            </a>
            {% endfor %}
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info-mb-4" href = "?page=1">First</a>
            <a class = "btn btn-outline-info-mb-4" href = "?page={{ page_obj.previous_page_number}}">Previous</a>
        {% endif %} 

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class = "btn btn-info-mb-4" href = "?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class = "btn btn-outline-info-mb-4" href = "?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a class = "btn btn-outline-info-mb-4" href = "?page={{ page_obj.nex_page_number}}">Next</a>
        <a class = "btn btn-outline-info-mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %} 
    {% endif %}
{% endblock content %}
