{% load static %}
<title>CoLearn</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

<header class="header">
  <div class="header-text">
    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
  </div>
 
</header>
<section class="landing-section landing-main">
  <div class="landing-section-content">
    <h1 class="brand">CoLearn</h1>
    <br>
    <h2>
      <span class="brand-text">Co</span>llaborative
      <br>
      <span class="brand-text">Learn</span>ing
    </h2>
      <p class="landing-main-text">
          It is about time to enjoy studying! 
          <br>
          As part of a supportive community, you will feel again inspired and accountable to reach your goals. 
          <br>
          Together we go further!
          <br>
          <br>
          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
      </p>
  </div>
</section>
<section class="landing-section langing-features">
  {% block main_content %}
  <div class="container">
    <div>
      <h1>All Courses</h1>
      <a href="{% url 'courses:create' %}" class="btn btn-lg btn-fill btn-success button-stretch">
        <i class="fa fa-plus-circle" aria-hidden="true"> Create New Course</i>
      </a>
    </div>
      <div class="card-deck">
        {% for course_item in object_list %} 
        <div>
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{course_item.course_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{course_item.teacher}}</h6>
              <p class="card-text">
                {{course_item.course_description}}
              </p>
              <a href="{% url 'courses:detail' pk=course_item.pk %}" class="btn btn-primary card-link">More Info</a>
              <p>{{course_item.students.count}}
                    member{{course_item.students.count|pluralize}}</p>   
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  {% endblock main_content %}
  </div>
</section>